@model Infrastructure.Model.Computers
 
@{
    ViewBag.Title = "Dodaj Obraz";
}
<h2>Dodaj obraz</h2>
 
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
     
    <div>
        @Html.ValidationSummary(true)
        <div>
            @Html.LabelFor(model => model.Name)
            <div>@Model.Name</div>
        </div>
 
        <div>
            @Html.LabelFor(model => model.ImageId, "Przeslij obraz")
            <div>
                <input type="file" name="file" id="uploadedFile" />
            </div>
        </div>
 
        <div>
            <div>
                <input type="submit" value="Update" />
            </div>
        </div>
    </div>
}
@if (Model.HasImage())
{
    <img src="@Url.Action("GetImage", new { id=@Model.ImageId})" />
}