@model Infrastructure.Model.Computers

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.ValidationSummary(true)
        <div>
            @Html.LabelFor(model=>model.Name)
            <div>
                @Html.EditorFor(model=>model.Name)
                @Html.ValidationMessageFor(model=>model.Name)
            </div>
        </div>
    </div>
    <div>
        @Html.LabelFor(model=>model.Year)
        <div>
            @Html.EditorFor(model=>model.Year)
            @Html.ValidationMessageFor(model=>model.Year)
        </div>
    </div>


  

    <div>
        <input type="submit" value="Edit"/>
    </div>
}

